* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1418;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 600;
}
